<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script>
    function login(var_1,var_2){
      var x=var_1.value;
      var y=var_2.value;
      alert("이름 : "+x+"\n비밀번호 : "+ y+"\n이름, 비밀번호 : "+x+" "+ y);
    }
    </script>
    <style>
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
    body{
      background : #fbfbfb;
      text-align: center;
      font-family: 'Nanum Gothic Coding' ;
    }

    #all{
      margin : auto;
    }
    #imgdiv{
      margin : 10% 5px 10% 22%;
      float : left;

    }
    #right{
      margin : 12% 28% 10% 5px;
      float : right;
          }

    #first{
      background: white;
      padding : 20px 20px 20px 20px ;
      border-radius: 5px;
      border-color : #dcdcdc;
      border-width: 1px;
    }

    hr{
      margin : 20px 0px;
    }
    #second{
      background: white;
      border-color:#dcdcdc;
      margin : 10px 0px 10px 0px;
      padding : 20px;
        border-radius: 5px;
          border-width: 1px;
    }
    #formdiv{
      margin : 10px 0px 10px 0px;
    }

    #facebookdiv{
        margin : 10px 0px 10px 0px;
        width  : 200px;
        height : 20px;
    }

    input{
        margin : 3px 0px 3px 0px;
        padding : 3px 2px;
        width  : 200px;
        height : 20px;
        border-color: rgba(0, 0, 0, 0.08);
        color : rgba(0, 0, 0, 0.5);
        border-radius: 3px;

    }
    #button{

          margin : 3px 0px 3px 0px;
          width  : 205px;
          height : 30px;
          border: none;
          background-color: #3897f0;
          color : white;
          border-radius: 3px;

    }



    a:link{
      color:black;
      text-decoration: none;

    }
    a:visited{
      color:black;
      text-decoration: none;

    }
    a:hover{
      color:black;
      text-decoration: none;

    }
    #signfont{
      color :#48a3e6;
    }
    #facebook{
      color : #168de5;
    }

    #download{
      font-size : 11pt;
    }

    </style>

    <script>

      </script>
  </head>
  <body>
  <div id ="all">
      <div id = "imgdiv">
      <img src="/images/iphone7.png" width = "350" height = "500">
      </div>
      <div id = "right" width = "300" height = "600" >
        <div id ="first">
            <img src="/images/2.png" width ="200" height="50">
            <div id = "formdiv">
              <form action="/" method ="post">
                <input id="email1" type ="email" name="email" placeholder="전화번호 또는 이메일"/><br>
                <input id="password1" type ="password" name="password" placeholder="비밀번호" />
                <div id = "buttondiv">
                <input type ="submit" id="button"  >
                </div>
              </form>
            </div>

        <hr>
        <div id ="facebookdiv">
          <a href ="" id ="facebook">Facebook으로 로그인</a>
        </div>
  </div>
  <div id ="second">
    <div id ="signdiv">
      계정이 없으신가요? <a href ="/join" id ="signfont">가입하기</a>
    </div>
  </div>
  <div id = "third">
    <p id="download">앱을 다운로드하세요</p>
    <div id="appimg">
      <img src="/images/3.png" width="120" height="45">
      <img src="/images/4.png"  width="120" height="45">

    </div>
  </div>
  </div>
</div>
  </body>
</html>
