<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href='/practice'>Instagram</a></h1>
    <ul>
      <li><a href='/practice/join'>Join</a></li>
      <li><a href='/practice/login'>Login</a></li>
    </ul>
  </body>
</html>
