
<!DOCTYPE html>
<html>
 <head>
   <title><%= title %></title>
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
   <script src="/javascripts/join.js"></script>
   <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>
   <h1><a href='/practice'>Instagram</a></h1>
   <h2>Join</h2>
   <p>Id       : <input type="text" name="id" id="join_id"></p>
   <p>password : <input type="password" name="pwd" id="join_password"></p>
   <input type="button" value="가입" id="joinButton">
 </body>
</html>
