<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/javascripts/login.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href='/practice'>Instagram</a></h1>
    <h2>Login</h2>
    <p>Id       : <input type="text" name="id" id="login_id"></p>
    <p>password : <input type="password" name="pwd" id="login_password"></p>
    <input type="button" value="로그인" id="loginButton">
  </body>
</html>
