@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

 body{
      background:#fbfbfb;
      font–family: 'Nanum Gothic' ;
    }

    .bar{
      width : 100%;
      height: 20%;
      margin: -8px;
      padding : 10px 8px;
      background-color: white;
      border-bottom: 2px #efefef solid;
    }

    .main{
    width : 100%;
    height: 80%;
    margin : 80px auto;

  }
/*menubar*/
    .tab{

      width :70%;
      margin : auto;

    }

    #td1{
      width:7%;

      text-align: center;
      padding-right: 5px;

    }

    #td2{
      width:12%;
      padding-left: 7x;

    }
    #td3{
      width:66%;
      padding-left:20%;

    }

input::-webkit-input-placeholder { color: #d9d9d9; }

    #td3 input{
      width : 40%;
      text-indent: 41%;
      border: 2px #efefef solid;
      border-radius: 2px;
      padding-top : 3px;
      padding-bottom: 3px;
      background-image: url("/images/10.png");
      background-position: 35%;
      background-repeat: no-repeat;
      font-family: 'Nanum Gothic Coding' ;
      color :  #4d4d4d;
      outline: none;
    }
    #td4{
      width:5%;
      text-align: center;
    }
    #td5{
      width:5%;
      text-align: center;
    }
    #td6{
      width:5%;
      text-align: center;
    }
    .menubarbtn{
      outline: none;
      background-color: white;
      border-style: none;
      cursor: pointer;
    }
    #icon{
      border-right: 1px black solid;

    }
    #mainimg{
      width: 40%;
      margin : auto;
    }
    #mainimg1{
      width: 40%;
      margin : auto;
    }
    #mainimg2{
      width: 40%;
      margin : auto;
    }
    /*글 메뉴바*/
    .photo{
        width: 30px;
      	height: 30px;
      	border-radius: 50px;
      	-webkit-border-radius: 50px;
      	-moz-border-radius: 50px;
      	background: url("/images/photo.jpg") no-repeat;
    }

    #mainbar{
      width:100%;
      height :15%;
      background: white;
      padding : 15px 0px;


    }
    #idid{
      margin : 0 10px;
    }
    #idid a:link{
      text-decoration: none;
      color : black;
      font-weight: 600;
    }
    #idid a:visited{
      text-decoration: 600;
      color : black;
      font-weight: 600;
    }
    #idid a:hover{
      text-decoration: none;
      color : black;
      font-weight: 600;
    }


    /*이미지 및 내용*/
    #note{
      width :100%;
      height : 45%;
      background-color: white;
      margin : auto;
      margin-top : -4px;
      padding-top : 5px;

    }
    #img1{
      text-align: center;
    }

    #notein{
      padding-left: 15px;
    }

    #notemenu{
      padding-left: 15px;
      margin-bottom: 10px;
    }

    #aa:link{
      text-decoration: none;
      color : black;
      font-weight: 600;
      font-size: 15px;
    }
    #aa:visited{
      text-decoration: none;
      color : black;
      font-weight: 600;
      font-size: 15px;
    }
    #aa:hover{
      text-decoration: none;
      color : black;
      font-weight: 600;
      font-size: 15px;
    }



    #bb:link{
      text-decoration: none;
      color : #0061c0;
      font-size: 15px;
    }
    #bb:visited{
      text-decoration: none;
      color : #0061c0;
      font-size: 15px;
    }
    #bb:hover{
      text-decoration: none;
      color :#0061c0;
      font-size: 15px;
    }

    #bb2:link{
      text-decoration: none;
      color : #0061c0;
      font-size: 15px;
    }
    #bb2:visited{
      text-decoration: none;
      color : #0061c0;
      font-size: 15px;
    }
    #bb2:hover{
      text-decoration: none;
      color :#0061c0;
      font-size: 15px;
    }
    #cc:link{
      text-decoration: none;
      color : #888888;
      font-size : 15px;
    }
    #cc:visited{
      text-decoration: none;
      color : #888888;
      font-size : 15px;
    }
    #cc:hover{
      text-decoration: none;
      color :#888888;
      font-size : 15px;
    }

    hr{
      width : 94%;
      margin-left : 15px;
      border: 1px rgba(0, 0, 0, 0.08) solid;
      margin-top : 10px;
      margin-bottom : 10px;
    }

    .table1{
      width : 100%;
    }

    #t1{
      width:7%;
      text-align: center;
    }

    #t2{
      width:22%;
      padding-left: 5px;
    }
    #t3{
      width:66%;
      padding-left:64%;

    }
    #imgbtn{
      border-style: none;
      background-color: white;
      margin-left : -420px;

    }
    .t2:link{
      text-decoration: none;
      color :#888888;
      font-size : 15px;
    }
    .t2:visited{
      text-decoration: 600;
      color : #888888;
      font-size : 15px;
    }
    .t2:hover{
      text-decoration: none;
      color : #888888;
      font-size : 15px;
    }

    /*modal*/
    .modal{
      display: none;
      position: fixed;
      z-index: 1;
      left:0;
      top:0;
      width:100%;
      height: 100%;
      overflow:auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
      font-size : 15pt;
      }

      .modal-content{
        background-color: #fefefe;
        margin: 15% auto;
        border: 1px solid #888;
        width: 40%;
        height : 27%;
        text-align: center;
        font-family: 'Nanum Gothic' ;
      }

      /* The Close Button */
  .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
      margin-right : 10px;
  }

  .close:hover{
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }

  /*modal 안의 버튼 */
  .buttonlink{
  display:block;
  width : 100%;
  height : 33%;
  background:white;
  border : 1px white solid;
  line-height:2;
  text-align:center;
  text-decoration:none;
  color :black;
}

.buttonlink:hover{
  border-color:#eaeaea;
  border-width:1px;
  background:#eaeaea;
}

#link1{
  border: 1px #3897f0 solid;
  padding-top : 5px;
}
#link2{
  border-bottom: 1px #eaeaea solid;
    padding-top : 5px;
}
#link3{
    padding-top : 5px;
}

#text1{
  border-style : none;
  outline-style : none;
  font-size : 14pt;
}


.information{
  width :80%;
  margin: auto;

}
.infouser{
  width :100%;
  height : 40%;
  padding-left: 5%;
  overflow: hidden; /*내용물이 객체보다 클경우 보여주지 않는 것*/
}

.myimg{
  width :18%;
  height : 18%;
  margin-left: 40px;
  margin-top: 2px;
  margin-bottom: 2px;
float: left;

}
.myimg button{
  width :100%;
  height : 100%;
  outline: none;
  border-style : none;
   background-color: rgba( 255, 255, 255, 0.0 );
}
.myimg button img{
  width : 100%;
  height : 100%;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.line1{
  width :40%;
  height : 40%;
  margin-right: 30px;
  margin-top: 2px;
  margin-bottom:2px;
float: left;
 margin-left: 90px;

}

.tata1 {
  width : 100%;
  height : 40%;

}

.tata1 td{
  height : 55px;

}

.ta1td1{
  width : 39%;
  font-size : 30px;

}

.ta1td2{
  width :37%;
}


#taltd2btn{
  width : 90%;
  height : 60%;

  -webkit-border-radius: 9;
 -moz-border-radius: 9;
 border-radius: 3px;
 font-family: Arial;
 color: #000000;
 font-size: 16px;
 background: #fbfbfb;
 padding: 5px 20px 10px 20px;
 border: solid #c8c8c8 1px;
 text-decoration: none;
 outline:none;
 cursor: pointer;
 font-weight: 600;
}
#taltd2btn:hover {
  background: #f5f5f5;
 text-decoration: none;
}

.ta1td3{
  width : 24%;
}

.tata2 {
  width : 93%;
  height : 40%;

}

.tata2 td{
    height : 47px;
    font-weight: 570;
    font-size : 14pt;

}

.tata3 {
  width : 100%;
  height : 40%;
}

.tata3 td{

    height : 47px;

    font-weight: 600;
    font-size : 13pt;
}


.infoimg{
    overflow: hidden;
    padding-top :10px;
    padding-bottom: 10px;
    margin-left : 8%;

}

#modalbtn{
  background: #fbfbfb;
  border : none;
}

.imgdivdiv{
  background :red;
}


.buttonlink2{
display:block;
width : 100%;
height : 20%;
background:white;
border : 1px white solid;
line-height:2;
text-align:center;
text-decoration:none;
color :black;

}

.buttonlink2:hover{
border-color:#eaeaea;
border-width:1px;
background:#eaeaea;
}


#promodal1{
  border-bottom: 1px #eaeaea solid;
    padding-top : 5px;
}
#promodal2{
  border-bottom: 1px #eaeaea solid;
    padding-top : 5px;
}
#promodal3{
  border-bottom: 1px #eaeaea solid;
    padding-top : 5px;
}
#promodal4{
  border-bottom: 1px #eaeaea solid;
    padding-top : 5px;
}
#promodal5{
  border-bottom: 1px #eaeaea solid;
    padding-top : 5px;
}

#promodalcon{
  height : 15%;
}

.imgdivdiv{
  outline: none;
  background-color:Transparent;
  border-style: none;
  cursor: pointer;


}

#infomodalimg{
  width : 60%;
  height : 100%;
  float : left;
}

#infomodalall{
    width : 40%;
    height: 100%;
  float : right;
}

#infomodalprobar{
  width : 100%;
  height : 10%;

}
#infomodallikebar{
  width : 100%;
  height : 10%;

}
#infomodaltext{
  width : 100%;
  height : 63%;

}
#infomodalheart{
  width : 100%;
  height : 10%;

}
